/.vs
/packages
/StartHere/bin
/StartHere/obj
/Examples/bin
/Examples/obj
/UngerboeckSDKWrapperJWT/bin
/UngerboeckSDKWrapperJWT/obj
/UngerboeckSDKWrapperJWT/.vs
/Ungerboeck.Api.Models.dll
Ungerboeck.png
*.nuspec
*.nupkg
*.vspscc
*.vssscc
*.lnk
.gitignore